.alphabet-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    max-width: 90vw;
    background-color: rgba(30, 39, 64, 0.5);
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.alphabet-search h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.alphabet-search #h {
    color: #fff;
    font-size: 24px;
    margin-top: 0;
}

.alphabet-search-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.letter-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    gap: 15px;
    margin-left: 10rem;
}

.letter-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.letter-button:hover {
    background-color: #21a1f1;
    transform: scale(1.1);
}

.search-bar1 {
    background-color: #ffffff;
    margin-left: 10%;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-width: 50%;
}

.search-bar1 input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
}

.search-bar1 button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar1 img {
    width: 20px;
    height: 20px;
}

/* Disease list styling */
.disease-list-container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto; /* Scrollable container */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
}

.disease-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    color: #fff;
}

.disease-item {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.disease-item:hover {
    transform: scale(1.05);
}
